# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
